.bg {
    background-image: url('../../assets/OurTeamsBg.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* Any additional styles for your container */
}