/* In your CSS file or styles section */
.menuOpen {
    transition: background-color 0.5s ease; /* Adjust the duration and easing as needed */
  }
  /* ... (other styles) */

  
  nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
 
  ul li::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background:  #3f86ed;
    border-radius: 20px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
  }
  
  nav ul li:hover::after{
    opacity: .5;
    top:50%;
  }
  nav ul li:hover .navLink{
    color:white;
  }

  /* CSS */
/* Add animation for the active NavLink */
.font-semibold.active::after {
  content: '';
  display: block;
  width: 4px; /* Width of the dot */
  height: 4px; /* Height of the dot */
  background-color: #3595FC; /* Color of the dot */
  border-radius: 50%; /* To make it round */
  position: absolute;
  bottom: -6px; /* Adjust the position of the dots */
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 1s infinite; /* Add your animation here */
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
