/* In your CSS file or styles section */
.menuOpen {
    transition: background-color 0.5s ease; /* Adjust the duration and easing as needed */
  }
  /* ... (other styles) */

  
  nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 35px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
 
  ul li::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    border-radius: 3px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
  }
  
  nav ul li:hover::after{
    opacity: 1;
    top:50%;
  }
  nav ul li:hover .navLink{
    color:white;
  }

  