/* Add this CSS in your stylesheet */
.worldbg {
    background-image: url('../../assets/et_global.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    /* height: 100%;
    width: 100%; */
    /* Any additional styles for your container */
}
.mapbg {
    background-image: url('../../assets/map.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* Any additional styles for your container */
}

  /* LocationIndicator.css */
.location-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.pin {
  width: 20px;
  height: 20px;
  background-color: linear-gradient(182deg,#c9daef 95.87%,rgba(201, 218, 239, 0) 9425.49%);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
}

.pulse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(39, 89, 152, 1); /* Adjust color as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-animation 1.5s ease-out infinite;
}

@keyframes pulse-animation {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}
