/* Add this CSS in your stylesheet */
.worldbg {
    background-image: url('../../assets/et_global.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    /* height: 100%;
    width: 100%; */
    /* Any additional styles for your container */
}
.mapbg {
    background-image: url('../../assets/map.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* Any additional styles for your container */
}
